@model ProjetoFinal.Models.Veiculo

@{
    ViewData["Title"] = "Editar";
}

<h1 class="display-4">Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="placa" class="control-label"></label>
                <input asp-for="placa" class="form-control" />
                <span asp-validation-for="placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marca" class="control-label"></label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cor" class="control-label"></label>
                <input asp-for="cor" class="form-control" />
                <span asp-validation-for="cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carroceria" class="control-label"></label>
                <select placeholder="Sedan, Hatch..." asp-for="carroceria" class="form-control form-select">
                    <option value="SEDÃ" selected>SEDÃ</option>
                    <option value="HATCH">HATCH</option>
                    <option value="COUPÉ">COUPÉ</option>
                    <option value="CONVERSÍVEL">CONVERSÍVEL</option>
                    <option value="SUV">SUV</option>
                </select>
                <span asp-validation-for="carroceria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-secondary" asp-action="Index">Voltar página</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
